.bg-image {
    height: 100vh;
    background-image: url("/public/todo1.jpg");
    
    background-size: cover;
}
.bg-shade{
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
}

.bg-form{
    background-color: white;
}
/* (Title) */ 
.button {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
  }
  
  .button span {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
  }
  
  .button:hover::before {
    opacity: 0.7;
  }
  
  .button::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.3s;
    opacity: 0;
    filter: blur(20px);
  }
  
  .button:hover:after {
    opacity: 1;
  }

  /* (Resister) */ 
.Resister {
    height: 50px;
    width: 255px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .Resister:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Wellcome";
    height: 50px;
    width: 255px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Resister";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left:18%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }
  

  /*  (Login) */ 
.Login {
    height: 50px;
    width: 255px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .Login:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type2::after {
    content: "Let's Go";
    height: 50px;
    width: 255px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2::before {
    content: "Login";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 18%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type2:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }


  /* Front Page Login */ 
.buttonLogin {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 250px;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  .buttonLogin:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 310px;
    border-radius: 50%;
  }
  
  .buttonLogin:hover {
    color: #fff;
  }
  
  .buttonLogin:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .buttonLogin:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .buttonLogin:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  

  /* Front Page Resister */ 
.buttonResister {
    --color: #2bad0b;
    font-family: inherit;
    display: inline-block;
    width: 250px;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  .buttonResister:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 305px;
    border-radius: 50%;
  }
  
  .buttonResister:hover {
    color: #fff;
  }
  
  .buttonResister:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .buttonResister:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .buttonResister:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  

  /* Responsive index */
  .header {
    width: 25%;
  }
  
  @media (max-width: 768px) {
    .header {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .header {
      width: 75%;
    }
  }

  /* Responsive add */
  .container {
    width: 100%;
    max-width: 500px;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  /* Responsive dlt */

  .container {
    width: 100%;
    max-width: 600px;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }

  /* Responsive dash_board */
  .container-fluid {
    max-width: 100%;
    width: 700px;
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .container-fluid {
      width: 100%;
      max-width: 100%;
    }
  }